@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css');

/* ریست کردن مقادیر پیش‌فرض و تنظیم باکس مدل */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* تنظیمات کلی بدنه صفحه */
body {
   font-family: 'Vazir', sans-serif; /* فونت وزیر */
  display: flex;                    /* مرکز کردن محتوا */
  align-items: center;
  justify-content: center;
  min-height: 100vh;                /* ارتفاع تمام صفحه */
  background: url("images/bg.jpg") #030728 no-repeat center; /* پس‌زمینه */
}

/* ظرف اصلی اسلایدر */
.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}

/* استایل هر کارت */
.card-list .card-item {
  height: auto;
  color: #fff;
  user-select: none;               /* جلوگیری از انتخاب متن */
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;             /* گوشه‌های گرد */
  backdrop-filter: blur(30px);     /* افکت بلور پشت کارت */
  background: rgba(255, 255, 255, 0.2); /* پس‌زمینه نیمه‌شفاف */
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* استایل تصویر پروفایل داخل کارت */
.card-list .card-item .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;              /* دایره‌ای کردن تصویر */
  margin-bottom: 40px;
  border: 3px solid #fff;
  padding: 4px;
}

/* عنوان شغل یا موقعیت کاربر */
.card-list .card-item .user-profession {
  font-size: 1.15rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 14px 0 40px;
}

/* دکمه ارسال پیام */
.card-list .card-item .message-button {
  font-size: 1.25rem;
  padding: 10px 35px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;           /* انیمیشن سریع */
}

/* افکت هاور دکمه پیام */
.card-list .card-item .message-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
}

/* دایره‌های صفحه‌بندی اسلایدر */
.slider-wrapper .swiper-pagination-bullet {
  background: #fff;
  height: 13px;
  width: 13px;
  opacity: 0.5;
}

/* حالت فعال صفحه‌بندی */
.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

/* دکمه‌های تغییر اسلاید (قبل/بعد) */
.slider-wrapper .swiper-slide-button {
  color: #fff;
  margin-top: -55px;
  transition: 0.2s ease;
}

/* افکت هاور روی دکمه اسلاید */
.slider-wrapper .swiper-slide-button:hover {
  color: #4658ff;
}

/* تنظیمات واکنش‌گرا برای موبایل */
@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }

  /* مخفی کردن دکمه‌های اسلاید در نمایش موبایل */
  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}
